@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
}
/* ENCABEZADO */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-image: url(../pages/fondo1.jpg);
    color: #fff;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 70px;
    margin-right: 15px;
}
.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-list li {
    margin-right: 20px;
}
.nav-list li:last-child {
    margin-right: 0;
}
.nav-list a {
    text-decoration: none;
    color: #fff;
}
.nav-list a:hover{
    color: gray;
    transition: 0.9s;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}
/* ENCABEZADO */

/* BUSCADOR */
.search-container {
    display: flex;
    justify-content: center; /* Agrega esta propiedad para centrar horizontalmente */
    align-items: center; /* Agrega esta propiedad para centrar verticalmente */
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* Agrega esta propiedad para centrar horizontalmente en la pantalla */
    margin-top: 30px;
}
#search-input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 25px 0 0 25px;
    outline: none;
}
#search-button {
    background-color: #9e0001;
    color: #fff;
    border: none;
    border-radius: 0 25px 25px 0;
    padding: 10px 20px;
    cursor: pointer;
}
.results {
    margin-top: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
/* BUSCADOR */




/* NOVEDADES */
.novedades {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000; /* Color del texto */
    padding: 10px;
}
.titulo {
    margin-left: 20px; /* Margen izquierdo para el título */
}
.ver-todos {
    margin-right: 20px; /* Margen derecho para el enlace "Ver todos" */
}
.ver-todos a {
    text-decoration: none; /* Elimina la línea de debajo del enlace */
    color: #9e0001; /* Cambia el color del enlace a blanco */
}
/* NOVEDADES */







/* CONTENEDORES */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.card {
    background-color: rgb(236, 236, 236);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}
.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.comprar-button {
    background-color: #9e0001;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 25px;
}
.comprar-button a{
    background-color: #9e0001;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}
.comprar-button:hover {
    background-color: #800d0d;
}
/* CONTENEDORES */




























/* PIE DE PÁGINA */
.piedepagina {
    width: 100%;
}
.footer {
    background-image: url(../pages/fondo1.jpg);
    color: #fff;
    text-align: center;
    padding: 20px;
}
.social i {
    text-decoration: none;
    color: #fff;
    margin: 15px 10px;
    font-size: 30px;
}
.email a {
    text-decoration: none;
    color: #fff;
}
/* PIE DE PÁGINA */











/* MEDIA QUARES */
@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #000000;
        position: absolute;
        top: 85px;
        right: 0;
        width: 100%;
        padding: 15px;
        z-index: 1;
    }

    .nav-list.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
    .nav-list li{
        margin: 10px 0;
    }
}
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 768px) {
    .logo h2 {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .novedades {
        flex-direction: column;
        align-items: flex-start;
    }

    .titulo, .ver-todos {
        margin: 10px;
        align-items: center;
        justify-content: center
    }
}
/* MEDIA QUARES */
